:root{
--font-family: "Poppins", sans-serif;
/* color scheme */
--white:#ffffff;
--black:black;
/* --accent: #EB4928; */
/* --main:orange; */
--main:#fbacd4;
--verified-check:#8ed451;
/* --accent:#04fafa; */
/* --accent:#acd4fb; */
/* light blue  */
--accent:#b6acd4;
/* text font weights  */
--font-weight-extralight: 100;
--font-weight-light: 200;
--font-weight-regular: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;
--font-weight-extrabold: 800;
/* other */
--transition: 0.3s ease-in-out;
--shadow:0px 4px 6px rgba(0, 0, 0, 0.1); /* Example box shadow */
--main-margin:2.5rem;

}

img{
    max-inline-size: 100%;
/* This means the image will not exceed the width of its container */
    max-block-size: 100%;
  /* This ensures that the image's height will not exceed the height of its container,  */
    display: block;
}

body{
    scroll-behavior: smooth;
    font-size: 1.125rem;
    font-family: var(--font-family);
    color: black;
  }

.container{
    /* background-color: blueviolet; */
    max-width: 1200px;
    width:100%;
    /* 0px top and bottom , left and right margin */
    /* browser will distribute space evenly left and right */
    margin: 0 auto;
    /* space on the edge when we minimize screen to  mobile view */
    padding: 0 1rem;
}

header{
    background-color: white;
    /* header has a fixed height */
    height:100px;
    position: sticky; /*  stick to a specific position on the viewport when scrolling */
    top:0; /* Fixed position from the top of the viewport */
    left: 0; /* Fixed position from the left of the viewport */
    z-index: 100; /* Ensure it's above other content */
    width:100%;
}

.header .container {
    /* border: 2px black solid; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    height:100%;
   /* container to tke 100% height of its parent class */
}

/* LOGO STYLING  */
.logo__img{
  width:40px;
  height:40px;
  /* background: red; */
  align-items: center;
  transform: rotate(30deg); /* Adjust the degree of rotation as needed */

}
.logo{
    /* border: 2px black solid; */
    /* background-color: pink; */
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    /* padding: 2px; */
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
    border-radius: 20px;
    padding:0.4rem;
    transition: var(--transition);
    display: flex;
    align-items: center;
}

.logo:hover{
  color:var(--accent);
}

/* NAVBAR STYLING */
.navbar{
    /* background-color: lightcoral; */
    justify-content: center;
}

.navbar .nav__link{
    text-decoration: none;
    color:black;
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    text-transform: uppercase;
    margin-left:10px;
    /* color will be affected by transition */
    transition: color 0.3s ease-in-out;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* border: 2px red solid; */
}

.nav__link:hover{
    color:#EB4928;
}
.nav__link:last-child{
    margin-right: 0;
}

.nav__link::after{
    content: " / ";
    margin-left: 20px;
    /* border: 2px solid green; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav__link:last-child::after{
    content:none;
    margin-left: 0;
}

.nav__link::after{
    color:black;
}

.nav__link .fa-caret-right{
    border: 2px solid green;
    font-size: 1.1rem;
    display: none;
    margin-right:3rem
}

 
/* ============ RIGHT SECTION OF HEADER ============ */

.header-cta{
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
}

.header-cta a{
  /* inline horizontally */
  display: inline-flex;
  align-items: center; /* Align items vertically */
  margin-right: 10px; /* Adjust margin between items */
}

/*  CTA BUTTONS */
.header-cta__border{
    /* border: 2px orange solid; */
    text-decoration: none;
    color:black;
    font-weight: var(--font-weight-regular);
    font-size: 1rem;
    padding: 0.4rem 1rem;
    text-transform: capitalize;
    /* border-radius: 4px; */
    border-radius: 30px;

    /* margin-right: 15px; */
}

.header-cta__border span{
  margin-left: 7px;
}

.header-cta__border i[class^="fa"]{
  font-size: 1.3rem;
  /* margin-right:0.9rem; */
  text-align: center;
  justify-content: center;
}


.header-cta__wishlist{
    font-size: 1.3rem;
    /* margin: 0px 10px; */

}

.header-cta__bag{
    /* background-color: white; */
    color: white;
    border-radius:4px;
    padding: 0.4rem;
    /* box-shadow: var(--shadow); */
}

.header-cta__bag i[class^="fa"]{
    color:#EB4928;
    background-color: white;
    font-size: 1.6rem;
    border-radius: 50%;
    padding:0.5rem;
    /* margin: 0px 10px; */
}

.menu{
    /* background-color: red; */
    width:30px;
    cursor: pointer;
    /* don't want in desktop view */
    display: none;
}

.menu i[class^="fa"]{
    font-size: 1.6rem;
    color: black;
    display: inline-block;
    padding:0.1rem;
}

/* ==================================== Media Queries ================================= */

/* first breaking point */
@media screen and (max-width: 1127px) {
    .header .container {
        /* background-color: red; */
        /* justify-content: flex-end; */
    }
    .header-cta__border{
        border:none;
    }
    .header-cta__border .login-text{
        display: none;
    }
    
}


@media screen and (max-width: 996px) {
    .menu{
        display:block;
    }

    .navbar{
        position: absolute;
        top:100px;
        width:100%;
        /* occupying viewport minus header height */
        /* 100% of the viewport height (100vh) minus 100 pixels (100px).  */
        /* fill the entire viewport height but leave some space at the bottom. */
        height:calc(100vh - 100px);
        right:0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color:var(--accent);
        opacity:0;
        transform: translateX(-100%);
        pointer-events: none;
        visibility: hidden;   
        transition: var(--transition);  
        /* margin-bottom:8rem; */
        padding-bottom:1rem;
    }
    
    .navbar-open .navbar {
        opacity: 1;
        transform: translateX(0); /* Slide the menu in from the left */
        pointer-events: auto;
        visibility: visible;
        transition: all 0.4s ease-in-out;
        

    }

    .navbar .nav__link{
        /* border: 2px blue solid; */
        display:block;
        width:100%;
        height: 100%;
        text-align: left;
        /* top margin 2 rem  left right bottom 0 */
        margin: 1.2rem 0 0;
        padding: 0.5rem;
        font-size:2rem;
        font-weight: var(--font-weight-regular);
        font-size: 1.8rem;
        color:black;
        /* border: 2px solid red; */
        border-radius: 20px;
        background-size: cover;
        background-position: center; /* Center the background image */
        align-items: right;
    }

    .nav__link::after{
        display:none;
    }

    .horizontal-line {
        display: block;
    }

    .nav__link .fa-caret-right{
        display: inline-flex;
        justify-content: flex-end;
        color: var(--main);
        border:none;
        align-items: center;
        font-size: 2rem;
    }

    .nav__link:nth-child(1){
      background-image: url(../../img/product7.png);
      background-size: cover;
      background-position: center; /* Center the background image */
      align-items: right;
    }
    .nav__link:nth-child(2){
      background-image: url(../../img/product2.png);
      background-size: cover;
      background-position: center; /* Center the background image */
      align-items: right;
    }

    .nav__link:nth-child(3){
      background-image: url(../../img/product3.png);
      background-size: cover;
      background-position: center; /* Center the background image */
      align-items: right;
    }

    .nav__link:nth-child(4){
      background-image: url(../../img/product__necklace--gold.png);
      background-size: cover;
      background-position: center; /* Center the background image */
      align-items: right;
    }
   
    .nav__link:nth-child(4){
      background-image: url(../../img/about-us-image.jpeg);
      background-size: cover;
      background-position: center; /* Center the background image */
      align-items: right;
    }

    .nav__link:nth-child(5){
      background-image: url(../../img/product--ring.png);
      background-size: cover;
      background-position: center; /* Center the background image */
      align-items: right;
    }
}

/* ===================== HERO SECTION =========================== */

  .hero{
    /* background-color: lightpink; */
    /* text-align: center; */
    margin-top: 50px;
  }

  .hero .container{
    display:grid;
    /* layout of th grid */
    grid-template-areas: "text image";
    /* two columns in the grid, with the first column containing the "text" area 
    and the second column containing the "image" area. */
    grid-template-columns: 55%  auto;
  }

  .hero-text{
    grid-area: text;
    text-align: left;
    /* background-color: chocolate; */
    /* border: 2px solid black; */
  }

  .hero-text__title{
    color:black;
    font-size: clamp(3.5rem, 4.2rem, 4.4rem);
    text-transform: capitalize;
    font-weight: var(--font-weight-light);
    /* border: 2px black solid; */
    margin-bottom: 16px;
    /* text-wrap:nowrap */
    text-align: left;
  }

  .hero-text__description{
    /* border: 2px black solid; */
    margin-bottom: 30px;
    font-size: 1.2rem;
    /* text-transform: capitalize; */
    text-wrap: wrap;
    word-spacing: 0.1;
    line-height: 2.0;
    text-align: left;
    max-width: 90%;
  }
/* .hero-images{
  width:100%;
} */
  .hero-cta__btns{
    width:100%;
    margin-bottom:50px;
    display: flex;
  }

 .btn{
    border: 2px #fbacd4 solid;
    border-radius: 30px;
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    justify-content: center;
    text-align: center;
    background-color: var(--main);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Example box shadow */
    margin-right:0.5rem;
    font-size: 1rem;
    text-decoration: none;

 }

 .btn:hover{
    background-color: white;
    color:orange;
    cursor: pointer;
    transition: var(--transition);
    transform: translateY(2px);
 }

  .hero-bottom{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(0.8px, 1.3rem, 1.4rem);
    font-weight: var(--font-weight-semibold);
    text-align: left;
    /* border: 2px orange solid; */
    max-width: 80%;
    gap:20px;
  }
 

  .hero-bottom i[class^="fa"]{
    font-size: 2.5rem;
    color:#EB4928;
    font-weight: var(--font-weight-extrabold);
    /* margin-right:10px; */

  }

/* right side of hero  */

  .hero-images{
    grid-area: "image";
    /* grid-template-columns: repeat(2, 1fr); */
    box-sizing: border-box;
    /* border: 2px black solid; */
    display:grid;
    grid-gap: 0.9rem 1.7rem;
    /* HOW DO I TARGET THE ROW AP IN THE FIRST COLUMN ONLY ????? */
    padding: 0.6rem;
    align-items: start;
    
  }

.hero-images img {
  object-fit: cover; /* Maintain aspect ratio */
  border-radius:30px;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  
}

  
  .img-color{
    /* width:100%;
    height:100%; */
    border-radius:30px;
    padding: 0.4rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Example box shadow */

  }

  .img-color__bg{
    border-radius:30px;
    padding: 0.4rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Example box shadow */
  }

  .img-color:nth-child(1){
    background-color: pink;

  }

  .img-color:nth-child(2){
    background-color: orange;
  }

  .img-color:nth-child(3){
    background-color: lightblue;
  }

  .img-color:nth-child(4){
    background-color: plum;
  } */


   
  /* ===================== Media Queries ================= */

  @media screen and (max-width:1042px) {
    
    .hero .container{
        margin-top: 20px;
    }

    .hero-text{
      border: 2px solid green;
      padding:0.6rem;
     }
    
     .hero-text__title{
      font-size: 4rem;
     }
     
    .hero-text__description{
      width:100%;
     }

     .hero-bottom__message{
      width:100%;
      border: 2px red solid;
     }

     .hero-images{
      grid-area: "image";
      box-sizing: border-box;
      border: 2px green solid;
      display:grid;
      grid-gap: 0.9rem 1.7rem;
      /* HOW DO I TARGET THE ROW AP IN THE FIRST COLUMN ONLY ????? */
      grid-template-columns: repeat(1, 1fr);
      padding: 0.6rem;
      align-items: start;
      
    }
  }
  
  
  @media screen and (max-width:949px){
   
     .hero-text__title{
      font-size: 3.8rem;
     }
     
  }


  @media screen and (max-width:776px){
    body{
        /* background-color: yellow; */
    }
    
    .hero .container{
        /* one column display */
        grid-template-areas: "text"  "image";
        /* occupy full width  */
        grid-template-columns: 100%;
        margin-top: 20px;
    }

    .hero-text{
      text-align: center;
      /* border: 2px solid green; */
      padding:0.6rem;
    }
    
    .hero-text__title{
      font-size: 4rem;
    }
    .hero-text__description{
     max-width:80%;
    }

    .hero-cta__btns{
      flex-direction: column;
    }

    .btn{
      margin:0.4rem;
    }

    .hero-images{
      justify-self:center;
    }

    .hero-bottom{
      width: 100%;
      margin-bottom:20px;
      /* justify-content: center; */
    }
    
  }

  @media screen and (max-width:600px){
    body{
      /* background-color: lightblue; */
    }
    .hero .container{
        /* one column display */
        grid-template-areas: "text"  "image";
        /* occupy full width  */
        grid-template-columns: 100%;
        margin-top: 20px;
    }

    .hero-text{
       width: 100%;
    }

    .hero-text__description{
      max-width: 100%;
    }

    .hero-text__title{
      font-size: 3.5rem;
    }

    .hero-images{
      justify-self:center;
    }

    .hero-cta__btns{
      flex-direction: column;
    }

    .btn{
      margin:0.4rem;
      /* border: 2px black solid; */
    }

    .hero-bottom{
      max-width: 100%;
      margin-bottom:20px;
    }
  
  }
  

/* ======================== GOLD JEWELRY and SILVER JEWELRY  ================ */


.promo-img{
  width:100%;
  margin-top: 3rem;
}


.jewelry{
  /* background-color: red; */
}

/* component */
 .heading{
  font-size: clamp(1.4rem, 3rem, 3.4rem);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  /* margin-top:2.5rem; */

}

.jewelry .heading{
  text-align: center;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top:2.8rem;

}

.jewelry-grid{
  display:grid;
  flex-shrink: 0;
  /* border: 2px green solid; */
  gap: 1.5rem;
  /* padding-block: 2rem; */
  /* 3 columns even spacing  */
  grid-template-columns: repeat(3,1fr);
  text-align: center;
}


.product{
 /* border: 2px solid blue; */
 /* flex-shrink: 0; */
 /* text-align: center; */
 justify-content: center;
 padding-block: 1rem;
 justify-content: center;
 text-align: center;
 align-items: center;
 /* i need to set width  */
}

.product__img{
  width:300px;
  height:300px;
  object-fit: cover;
  border-radius: 20px;
  /* border: 2px solid green; */
  margin: 0 auto;
}

.product__img:hover{
    transform: scale(0.6);
    transition: ease-in-out 0.3s;
  }
  


.product__title{
  text-transform: uppercase;
  font-size: clamp(0.4px, 1.2rem, 2rem);
  letter-spacing: 0.3px;
  margin-top: 2rem;;
}

.product__description{
  opacity:0.5;
  line-height: 1.9;
  font-size: clamp(0.5px, 1rem, 2rem);
  margin-bottom: 0.5rem;
  margin-top: 1.2rem;
}

.product-price{
  display:flex;
  flex-direction: column;
  /* background-color: yellow; */
  text-align: start;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.product-price {
  text-decoration: none;
   display: flex;
   flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;  
}

/* .product-cta{
  margin-right:20px;
} */

/* .product-cta::after{
  content: " | ";
  margin-right: 10px;

} */
.product-price a:hover{
  color: #EB4928;
  transition: var(--transition);
  font-weight: var(--font-weight-bold);

}

/* ================== media Queries ============= */
@media screen and (max-width:934px) {
  .jewelry-grid{
    grid-template-columns: repeat(2,1fr);
  }
  
}


@media screen and (max-width:560px) {
  .jewelry-grid{
    grid-template-columns: repeat(1,1fr);
  }
  
}



/* ======================== BEST SELLER ===================== */

.best-seller{
  /* background-color: red; */
  margin-top: 2rem;
}
.best-seller .container{
  /* padding:1.5rem; */
  /* margin-top: 2rem; */
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border:2px solid green; */
  padding-top:1rem;
  margin-bottom: 2rem;
}

.best-seller .heading{
  text-align: center;
  /* justify-content: center; */
  /* margin-bottom: 1rem; */
  /* border: 2px green solid; */
  color:black;
  font-size: clamp(2rem, 3rem, 3.5rem);
  /* background: #26c653; */
}

.carousel__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  position: relative;
  /* border: 20px red solid; */
  gap:3rem;
  color:var(--accent);
  margin-right:2rem;
}

.carousel__icons i[class^="fa"]{
  font-size: 2rem;
}

/* slider  */
.slider {
  display: flex;
  width:100%;
}

/* symbol  * selects all direct child elements of the .slider class */
.slider > * {
  width: 100%;
  flex: 0 0 auto;
  /* background-color: pink; */
  /* border:3px orange solid;  */
  list-style: none;
  padding:0.4rem 0;
  text-align: center;
}

.a11y-slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 2em 0 2em;
  padding: 0;

} 

/* dots underneath image */
.a11y-slider-dots li {
  display: flex;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0 6px;
  color: #fff;
  border: none;
}

.a11y-slider-dots li button {
  display: block;
  font-size: 0;
  border: orange solid 1px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  transition: var(--transition);
}

.a11y-slider-dots li button.active {
 background-color: var(--main);
}


.slider__img{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__img span {
  text-transform: capitalize;
}

.slider img{
  width:250px;
  height:250px;
  border-radius: 20px;
  margin-bottom: 1rem;
}


/* ================== Media Queries  ======================= */
/* 768px or wider */

@media screen and (max-width: 500px){
  .heading{
    font-size: clamp(1rem, 1.5rem, 3rem);
  }

}
@media (min-width: 768px) {
  .slider > * {
    width: 50%;
    /* background-color: blue; */

  }
}

/* viewport width is at least 960 pixels wide. 960px or wider */
@media (min-width: 960px) {
  .slider > * {
    width: 33.3333%;
    /* background-color: red; */
  }

}

/* 1280 px pr wider  */
@media (min-width: 1280px) {
  .slider > * {
    width: 25%;
    /* background-color: palevioletred; */
  }
}




/* ============= About-us section ===================== */


.about-us{
  /* border: 2px solid red; */
  margin-top: 4rem;
  /* padding:1rem; */
  /* background-color: orange; */
  opacity: 0.9;
  /* background: #EB4928; */
}

.about-us .container {
  display:flex;
  justify-content: space-between;
  gap:40px;
  /* background-color: chocolate; */
  /* align-items: center; */
}

.about-us__img{
  /* border: 2px solid red; */
  overflow: hidden; /* Ensure the image doesn't overflow the container */
  /* border-radius: 20px; */
  justify-content: center; 
  display: flex;
  margin-bottom: 1rem;
}

.about-us__img img{
  width: 550px; 
  /* won't grow or shrink beyond that initial size. */
  flex: 0 0 auto; 
  transition: var(--transition);
  object-fit: cover;

}

.about-us__img:hover img{
  transform: scale(1.2);
}

.about-us__text{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-shrink: 0;
  flex-grow: 1;
  text-align: left;
  /* border: 2px solid red; */
  /* justify-content: space-around; */
}

.about-us .heading{
  margin-bottom: 1.2rem;
  margin-top: 1.5rem;
  text-align: left;

}

.about-us__description{
  line-height: 2.0;
  letter-spacing: 0.01rem;
  font-size: clamp(0.9rem, 1rem, 1.3rem);
  max-width: 90%;
  flex-shrink: 1;
  /* text-wrap: wrap; */
}

.about-us__description:first-of-type{
  margin-bottom: 1rem;
}

.about-us__description:nth-of-type(2){
  margin-bottom: 2rem;
}

.about-us__btn{
  /* width:100%; */
  margin-bottom:30px;
  /* background-color: red; */
}
/* ============== media quierie ========== */

@media screen and (max-width:767px){
  .about-us .container{
    display: flex;
    flex-direction: column-reverse;
    /* background-color: pink; */
  }

  .about-us__text{
    flex-basis: 100%;
    flex-shrink: 1;
  }

  .about-us__description{
    max-width: 90%;
  }


}

@media screen and (max-width:500px){
  .about-us .container{
    display: flex;
    flex-direction: column-reverse;
    background-color: aqua;
  }

  .about-us__description{
    max-width: 100%;
  }
  .about-us__btn {
    width:100%;
    margin-bottom:30px;
    background-color: red;
  }
 

}


/* ============== TESTIMONIALS ============== */
.testimonials{
/* border:2px blue solid; */
margin-top: 2.5rem;
/* background: #26c653; */
/* padding: 5rem 0rem 20rem; */
padding-bottom: 15rem;
display: flex;
}

.testimonial__wrapper{
  display: flex;
  gap:2rem;
  margin-top:3rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.testimonial__box{
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  padding:1.4rem;
  text-align: left;
  gap: 1rem;
  box-shadow: var(--shadow);
  /* background-color: pink; */
 

}

.company-star-rating{
  transition: var(--transition);
 cursor: pointer;
}

.company-star-rating > *{
color:orange;
}

.reviewer__box{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.reviewer-name{
  text-transform:capitalize;
  font-weight: var(--font-weight-bold);
}

.fa-square-check{
 color:var(--verified-check);
}

@media screen and (max-width:934px) {
  .testimonial__wrapper{
    grid-template-columns: repeat(2,1fr);
  }
  
}


@media screen and (max-width:560px) {
  .testimonial__wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  
}
/* ========================== Testimonials ====================== */
/* top of footer */

.footer{
  padding-top:0;
}

.footer .container{
  display: grid;
  grid-template-areas:
   "newsletter" 
   "content";
}

.newsletter{
  /* assigned the grid item of newsletter */
  grid-area: newsletter;
  display: grid;
  grid-template-areas: "newsletter-text newsletter-form";
  grid-template-columns: 60% 40%;
  /* news- text 60 percent of grid and form 40% */
  border-radius: 20px;
  background-color: var(--accent);
  align-items: center;
  padding:1.7rem;
  position: relative;
  top: 0;
  transform: translateY(-40%);
  color: white;
  box-shadow: var(--shadow);
  font-size: clamp(0.4rem,0.7rem, 1rem);

}

.newsletter__text{
  display: flex;
  flex-direction: column;
  /* background-color: #26c653; */
  gap:0.4rem;
  letter-spacing: 0.06rem;
}

.newsletter-message{
  font-size: 1rem;
}

.newsletter__form{
  font-family: var(--font-family);
  text-transform: uppercase;
  /* font-size: clamp(1rem, 2rem, 2.3rem); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:auto;
}

.newsletter__form input[type="email"]{
  width:100%;
  padding:0.6rem;
  margin-right: 0.4rem;
  border: none;
  border-radius: 20px;
  font-size: clamp(0.4rem,0.9rem, 1rem);
}

.newsletter__form input[type="email"]:focus{
 outline: 2px solid var(--main);
}

.newsletter__form input[type="placeholder"]{
  color: black;
  text-indent: none;
 }
 
 .newsletter__form input::placeholder {
  border-radius: 50px;
  padding:20px;
  /* background-color: red; */
  font-family: var(--font-family);
  /* Other styles you want to apply */
}

/* newsletter ends here  */

/*================= footer content  */
.footer-content{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  border:2px solid green;
  width: 100%;
  font-size: clamp(0.5rem, 1rem, 1.2rem);
  gap:1rem;

}
/* ================COLUMN 1 OF FOOTER =========== */
.col-1{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap:1.2rem;
  
}




.footer-nav a{
  text-decoration: none;
  color: black;
  line-height: 2.5; 
  text-transform: capitalize;
  font-family: var(--font-weight-regular);
}

.footer-logo{
  text-transform: capitalize;
  font-size:medium;
  font-weight: var(--font-weight-light);
  font-size:1.3rem;
  text-decoration: none;
  color: black;

}
 .socials-cta{
  font-size: 1.1rem;
  font-weight: var(--font-weight-regular);

 }

 .socials-cta span{
  color: orange;
  font-family: var(--font-weight-extrabold);
  margin-left: 3px;
  cursor: pointer;

 }
/* .footer-content:hover{
 color: var(--accent);
 font-family: var(--font-weight-medium);
 transition: 4s ease-in-out;
 cursor: pointer;
} */

.footer-icons{
  /* background-color: #EB4928; */
  display: flex;
  font-size: 1.5rem;
  gap:2rem;
  /* padding:0.3rem; */
}

.footer-icons a{
  color: black;
}


.socials__bg {
  background-color: orange;
  border-radius: 50%;
  padding:0.7rem 1rem;
  color:black;
  transition: var(--transition);
}

/* ============== footer-nav ============ */

.footer-nav{
  border: 2px solid red;
 
}
.footer-nav li{
  color:black;
  text-decoration: none;
  list-style-type: none;
}

#footer__links-title {
  font-weight: var(--font-weight-bold);
  background-color: #fff;
}

.footer__img{
  width: 60px;
  height: 100px;
}


/* ================ copyright========== */
.copyright{
  text-align: center;
  /* background-color:red; */
  padding:1rem;
  margin-top: 1rem;
  font-size: clamp(1rem , 0.9rem, 1.2rem);
  font-weight: var(--font-weight-light);
}

.copyright a{
  text-decoration: none;
}



